{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="post">
    <img src="/images/avatar.svg" height="42"/>
    {% include  "_partials/flash.njk" %}
    <input type="email" placeholder="Seu e-mail" name="email"/>

    <input type="password" placeholder="Senha secreta" name="password"/>


    <button type="submit">Entrar</button>
    <a href="/signup">Criar conta grátis</a>
  </form>
{% endblock %}
