{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signup" method="post" enctype="multipart/form-data">
    {% include  "_partials/flash.njk" %}
    <label for="avatar">
      <img src="/images/avatar.svg" heigh="24"/>
    </label>

    <input type="file" id="avatar" name="avatar"/>

    <input type="text" placeholder="Nome completo" name="name"/>
    <input type="email" placeholder="Seu e-mail" name="email"/>

    <input type="password" placeholder="Senha secreta" name="password"/>

    <label for="provider">
      <input type="checkbox" id="provider" name="provider" value="1"/>
      Sou Barbeiro
    </label>

    <button type="submit">Criar conta</button>
    <a href="/">Já possuo conta</a>
  </form>
  <script stype="text/javascript">
    var avatarInput = document.getElementById('avatar')
    var img = document.querySelector('label[for=avatar] img')

    avatarInput.onchange = function(e){
      img.classList.add('preview')
      img.src=URL.createObjectURL(e.target.files[0])
    }
  </script>
{% endblock %}
